<p id="notice"><%= notice %></p>
<div class="contenido">
   <table align: center>
   <font color="White">
      <h3 align: center>Select a Note to add to the Collection</h3>
   </font>
   <tbody class="users_table">
      <td>
         <font color="White" face="Comic Sans MS,arial">
            <h4>
            Nombre
         </font>
      </td>
      <td>
         <font color="White" face="Comic Sans MS,arial">
            <h4>
         </font>
      </td>
      <% @notes.each do |note| %>
      <tr class="a">
         <td>
            <font color="Black" face="Comic Sans MS,arial">
               <h5>
               <%= note.title %>
            </font>
         </td>
         <td>
            <button class="btn"><%= link_to 'Add note', add_path(@notecollection, :_id => @notecollection._id, :note_id => note._id), method: :post %></button>
         </td>
      </tr>
      <% end %>
   </tbody>
</div>