<div class="contenido" id="div-edit">
   <h3 text-align="center">Editing Note</h3>
   <br>
   <%= render 'form', notecollection: @notecollection %>
   <br>
   <%= link_to 'Back', url_for(:back)  %>
</div>
<html>