<p id="notice"><%= notice %></p>
  <div class="contenido">

    <table align: center>
  
<font color="White">
          <h3 align: center>Select a Note to add to the Collection</h3>
</font>



    <tbody class="notes_table">
    <% @notes.each do |note| %>
      <tr class="a">
      
        <td><h4><%= note.title %></h4>
    
        
          <ul>
          <li>
            <%= link_to 'Show', note_path(note, :_id => note._id) %>
          </li>
    
           <li>
           
            <!--%= link_to 'Add to the collection', add_notecollection_path(:note => @note._id, :notecollection => @notecollection._id ), method: post %-->
            <%= link_to 'Add to the collection', add_path(note, :_id => note._id) %>
            
          </li>
        </ul>
        
        
        </td>
       
      </tr>
    <% end %>
  </tbody>


   
</div>