<!-- Mostrar listado de las notas. al clickar una aparece (show.html)-->
<h1>Notes</h1>

<ul>
  <% @note.each do |note| %>
    <li>
      <%= link_to note.title, note %>
    </li>
  <% end %>
</ul>

<!--%= link_to "New Note", new_note_path %>  Poner el path al metodo new note -->